<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/frontend/css/404.css">
</head>
<body>
    
<div class="textContainer">
    Page Not Found.
</div>

<div class="textContainer2">
    We tried our best to find the page you were looking for, but it seems to be missing.
</div>


<!-- html => views-->
<div>
    <div id="return">
        <a href="/frontend/views/main.html">Return</a>
    </div>
</div>

    <img src="https://i.postimg.cc/B63LRJZK/404Img.png" id="error404" draggable="false" alt="404 Error"> 

    <script src="/frontend/dist/console.js"></script>
</body>
</html>
