<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishBulldogClicker | Stats</title>
    <link rel="stylesheet" href="/frontend/css/click.css">
     <link rel="icon" href="https://i.postimg.cc/vmgGJwjY/English-Bull-Dog.png" type="image/png">
</head>
<body>

<div class="span">
    <span id="doggies">🐶 0</span>
</div>

    
 <audio id="clickSound" src="/assets/click.mp3" preload="auto"></audio>
<img src="https://i.postimg.cc/B6b3sKc3/English-Bull-Dog.png" id="doggie">

<div class="button">
    <button id="Upgrades-button">Upgrades</button>
    <button id="exit-button">X</button>
</div>

<script src="/frontend/dist/console.js"></script>
<script src="/frontend/dist/click.js"></script>
</body>
</html>