<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishBulldogClicker</title>
    <link rel="icon" href="https://i.postimg.cc/vmgGJwjY/English-Bull-Dog.png" type="image/png">
    <link rel="stylesheet" href="/frontend/css/main.css">
</head>
<body>
    
    <div class="header">
        <h1>𝖤𝗇𝗀𝗅𝗂𝗌𝗁𝖡𝗎𝗅𝗅𝖽𝗈𝗀𝖢𝗅𝗂𝖼𝗄𝖾𝗋</h1>
    </div>

    <br>

    <div>
        <div class="text-container">
        <h2>𝖤𝗇𝗀𝗅𝗂𝗌𝗁<br>𝖡𝗎𝗅𝗅𝖽𝗈𝗀<br>𝖢𝗅𝗂𝖼𝗄𝖾𝗋</h2>
        </div>

        <div class="button-container">
        <button id="login">Login</button>
        <button id="store">Store</button>
        <br>
        <br>
        <button id="about">About</button>
        </div>


        <img src="https://i.postimg.cc/vmgGJwjY/English-Bull-Dog.png" alt="" id="doggieLogo">
        


    </div>

    <script src="/frontend/dist/index.js"></script>
    <script src="/js/console.js"></script>
</body>
</html>