<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishBulldogClicker | Inventory</title>
</head>
<body>
    
    <div id="owned-doggies">
        <!--In here i'll put all the doggies you own in little cards. inside the cards need a button the equipts it and un equipts-->
    </div>

    <div id="total-owned">
        <!--Small little thing in top right corner showing  how many you own out of total doggies-->
    </div>



</body>
</html>