<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>EnglishBulldogClicker | Leaderboard</title>
  <link rel="stylesheet" href="/frontend/css/lb.css" />
</head>
<body>
  <div id="Leaderboard">
    <h1>Leaderboard</h1>
  </div>

  <div class="podium-container">
    <div class="podium no2">
      <h1>test</h1>
      <p></p>
    </div>
    <div class="podium no1">
      <h1>test</h1>
      <p></p>
    </div>
    <div class="podium no3">
      <h1>test</h1>
      <p></p>
    </div>
  </div>

  <div class="button">
    <button onclick="location.href='main.html'" id="exit-button">X</button>
  </div>


    <script src="/frontend/dist/console.js"></script>
</body>
</html>
