<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnglishBulldogClicker</title>
    <link rel="stylesheet" href="/frontend/css/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
         <link rel="icon" href="https://i.postimg.cc/vmgGJwjY/English-Bull-Dog.png" type="image/png">


</head>
<body>
    
    <div class="header">
        <h2>EnglishBulldogClicker</h2>
    </div>

<div class="sidebar">
  <ul>
<a href="stats.html"><li id="stats"><i class="fa-solid fa-user"></i>  Stats</li></a>
<a href="click.html"><li id="click"><i class="fa-solid fa-arrow-pointer"></i> Click</li></a>
<a href="404.html"><li id="upgrades"><i class="fa-solid fa-arrow-up"></i> Upgrades</li></a>
<a href="market.html"><li id="market"><i class="fa-solid fa-store"></i> Market</li></a>
<a href="lb.html"><li id="lb"><i class="fa-solid fa-trophy"></i> Leaderboard</li></a>
<a href="404.html"><li id="rules"><i class="fas fa-scroll"></i> Rules</li></a>
<a href="404.html"><li id="shop"><i class="fas fa-shopping-cart"></i> Shop</li></a>
<a href="404.html"></a><li id="staff"><i class="fa-solid fa-shield-halved"></i> Staff</li></a>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a href="login.html"><li id="logout"><i class="fas fa-sign-out-alt"></i> Logout</li></a>
  </ul>
</div>
    


<script src="/frontend/dist/console.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>